@font-face {
	font-family: "Roboto Condensed Bold";
	
	src: url("./fonts/roboto-condensed-bold.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
html {
	background-color: #f3f2ea;
	
}

h1 {
	font-family: 'Roboto Condensed Bold';
	text-align: center;
	margin-top: 20px;
	color: #664c5c;
}
h2 {
	font-family: 'Roboto Condensed Bold';
	text-align: center;
	margin-top: 20px;
	margin-left: 20px;
	color: #664c5c;
}
h3 {
	font-family: 'Roboto Condensed Bold';
	text-align: center;
	margin-top: 20px;
	margin-left: 20px;
	color: #664c5c;
}

p {
	font-family: 'Roboto Condensed Bold';
	text-align: center;
	margin-top: 20px;
	margin-left: 20px;
	color: #664c5c;
}

.head {
	width: 100%;
	height: 50px;
	background-color: #C4B0BC;
	display: flex;
	align-items:center;
	justify-content:space-around;
	flex-direction: row;
	list-style-type: none;
	padding-inline-start: 0;
}

.head2 {
	width: 50%;
	height: 50px;
	background-color: #C4B0BC;
	display: flex;
	align-items:center;
	justify-content:space-around;
	flex-direction: row;
	list-style-type: none;
	padding-inline-start: 0;
}

.listItem {
	height: 50px;
	width: 100%;
	line-height: 50px;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	font-size: 100%;
	color: #664c5c;
	-ms-user-select: none; 
		-moz-user-select: none; 
		-webkit-user-select: none; 
		user-select: none;
		outline: none;
		text-decoration: none;
	}
.listItem:hover {
	background-color: #664c5c;
	color: white;
}
.listItem:active {
	background-color: #30212a;
	
}
.logo {
	max-width: 500px;
	max-height: auto;
	display:block;
	margin:auto;
	}
	
.inputs {
	display:block;
	margin:auto;
	border-color: #F5F5DC;
	width: 300px;
	border-radius: 10px;
	
}

.selector {
	display:block;
	margin:auto;
	border: 2px solid #C4B0BC;
	width: 300px;
	border-radius: 10px;
	font-size: 20px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	text-align: center;
	background-color: #f3f2ea;
	
}
option {
	border-color: #F5F5DC;
	border-radius: 10px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}
.slider {
		display:block;
		margin:auto;
		-webkit-appearance: none;
    width: 300px;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%; 
	background: #4CAF50;
	cursor: pointer;
}
.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
}


button {
	display:block;
	margin:auto;
	border: 2px solid #C4B0BC;
	width: 300px;
	border-radius: 10px;
	font-size: 20px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	text-align: center;
	background-color: #f3f2ea;
}
button:hover {
	color: #664c5c;
	border: 2px solid #664c5c;
}
button:active {
	background-color: #664c5c;
	color: white;
}
.myLink {
	outline: none;
  text-decoration: none;
	
}
.divBorder {
	display:block;
	margin:auto;
	width: 350px;
	height: 350px;
	border: 2px solid #C4B0BC;
	border-radius: 10px;

}



@media screen and (max-width: 500px) {
	.logo {
		width: 90%;
	}
	
}



.photo {
	max-width: 300px;
	max-height: auto;
	display:block;
	margin:auto;
}

.imgGift {
	max-width: 600px;
	border: 2px solid #664c5c;
	border-radius: 30px;
	margin: 20px 20px 20px 20px;
	display:block;
	margin:auto;
}

.borderGiftDiv {
	border-top: 2px solid gray;
	padding: 20px 0 0 0;
	display:block;
	margin:auto;
	width: 800px;
}